*{
  margin: 0;
  padding: 0;
  text-align: center;
}

h1{
  background-color: #081d31;
  color: white;
  height: 5rem;
  line-height: 5rem;

}

.choice{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */

}

img{
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 50%;
}


.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice:hover{
  opacity: 0.9;
  cursor: pointer;
  background-color: black;
}

.scoreboard{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#score_user,
#score_bot{
  font-size: 3.5rem;
  
}

#msg{
  background-color: yellow;
  color: black;
  height: 5rem;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
  
}

.msg-container{
  margin-top: 2rem;
}