*{
  margin: 0;
  padding: 0;
}

body{
  background-color:#548687;
  text-align: center;
}
.container{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  font-size: 10vmin;
  color: red;
  background-color: palegoldenrod;

}

.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

#reset{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: green;
  color: black;
  border-radius: 1rem;
}

#newgame{
  padding: 1rem;
  font-size: 1rem;
  background-color: green;
  color: black;
  border-radius: 1rem;

}

#winid{
  color: palevioletred;
  font-size: 6vmin;
}

.winmessage{
  height: 20vmin;
}

.hide{
  display: none;
}